:host {
      /* Asegura que el contenedor del componente no tenga bordes o outlines */
      border: none !important;
      outline: none !important;
      box-shadow: none !important;
      display: block; 
    }
    
    .relative.flex.items-center {
      border: none !important;
      outline: none !important;
      box-shadow: none !important;
    }
    
    .w-full:focus {
      outline: none;
      box-shadow: 0 0 0 2px rgba(102, 35, 128, 0.5); /* Sombra de foco púrpura sutil */
    }